/************************
	 Reset 
*************************/
* {
	margin: 0;
	padding: 0;
	font-family: 'Vollkorn', cursive;
}
a {
	text-decoration: none;
}

/************************
	 Header
*************************/
header {
	font-family:"Pacifico";
}

h1 {
	font-family: "Pacifico", cursive;
	margin: 0;
	font-size: 50px;
	margin:0;
}

nav {
	text-align: center;
}
/************************
	Body
*************************/
main, header, footer {
	width: 960px;
	margin:0 auto;
	clear: both;
}

main {
	position: relative;
}

h2 {
	font-family: "Pacifico", cursive;
	font-size: 35px;
	margin:0;
}

h3 {
	margin-top: 15px;
}
/*** Credentials ***/
.credentials {
	margin-right: 410px;
	float:left;
}

.skills {
    -webkit-columns: 5 100px;
    -moz-columns: 5 100px;
    columns: 5 100px;
  	-webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  	-webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
 	column-rule: 1px dotted #ddd;
}

ul {
	list-style: none;
}

img {
	float: left;
}

/*** Asside ***/
aside {
	width: 415px;
	float: right;
}
aside {
	position: absolute;
	right: 0;
	top: 0;
}

iframe {
	display: block;
	margin: 0 auto;
	height: 450px;
	width: 350px;
}

/*************
Project Details
**************/
.projects {
	text-align: center;
}
.detail {
	margin: 0 auto;
	width: 400px;
	display:inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.detail > img {
	float:left;
}
.detail > div {
	display:inline-block;
	width: 400px;
	margin: 10px;
}

.detail h4  {
	border-bottom: 1px solid black;
	text-align:center;
}

/*** Bio ***/
.bio {
	overflow:hidden;
	display:block;
	width: 960px;

}
.bio p {
	margin-left: 210px;
}
/************************
	Footer
*************************/

footer {
	clear:both;
	text-align: right;
}

