* {
	font-family: 'Vollkorn', cursive;
}

div {
	background-color: blue;
	border: 2px solid lightblue;

}

h2 {
	background-color: red;
	font-family: "Pacifico", cursive;
	font-size: 35px;
	margin:0;

}

h3, h4, h5 {
	background-color: lightyellow;
	font-style: bold;
}
p {
	background-color: yellow;
}

h1 {
	background-color: purple;
	font-family: "Pacifico", cursive;
	margin: 0;
	font-size: 50px;
	margin:0;
}

header {
	background-color: pink;
	font-family:"Pacifico";
}

footer {
	background-color: magenta;
	clear:both;
/*	bottom: 0;
	left: 0;
	right: 0;*/
}

nav {
	background-color: lightblue;
}

a {
	background-color: lime;
}

main {
	background-color: green;
}

.skills {
/*    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;*/
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;
  	-webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  	-webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
 	column-rule: 1px dotted #ddd;
    border: 3px solid orange;
}

img {
	display:block;
	/*transform: scale(.75);*/
}


/*img {
	transform: scale(.5);
	border: 5px solid black;
	display: inline-block;
	height: 225px;
	float: left;
}*/

.credentials ul {
	display: none;
}
.projects div{
	border: 5px solid white;
	clear: both;

}

.bio {
	right:0;
}

div.expand ul {
	display: inline-block;
}

/*main > :last-child {
	position:absolute;
	right: 0;
	width: 40%;
}*/
main > div {
	float:left;
	width: 59.5%;
	/*margin-right: 50%;*/
}
aside {
	float:right;
	width:40%;
	/*margin-left: 80%;*/
}

iframe {
	min-width: 500px;
	min-height: 250px;
	display:block;
}